
/* ---- GLOBAL ---- */

h3 {margin: 0 0 10px;}

.space{margin: 25px;}

.shadow ul li 
{
    color: blue;
    font-size: 2em;
}

#horizontal
{
    height: 18px; background-color: azure;
}

.shadow h4
{
    font-size: 1.7em;
}

p 
{
    font-size: 1em; line-height: 1.5em;
    font-family: 'Nanum Gothic', sans-serif;
}

h1, h2, h3 { font-family: 'Knewave', cursive; }

figure { margin: 0 0 10px; }

figcaption
{ 
    font-weight: normal; font-size: 0.75em;
line-height: 1.5em; 
font-family: Georgia, 'Times New Roman', Times, serif;
/* OR :- font: normal 0.75em/1.5em Georgia, Georgia, 'Times New Roman', Times, serif; */
color: gray; text-align: right;
}

.milk-text 
{
    font: bold 2.6em 'Elsie Swash Caps', cursive;
    color: darkblue;
    text-shadow: 0 2px 3px #009 ;
}

.shadow
{
    box-shadow: 0 4px 10px #333;
}

.border-right
{
    border-right: 2px dotted #ccc;
    padding-right: 30px;
}

/* ---- BACKGROUNDS ---- */
.white-wood
{
    background: url(../images/white-wood.jpg) no-repeat center top;
    background-size: cover; /* to fill up all the available space */
}

.light-fade
{
    /* LIGHT-FADE */
 
background: #efefef; /* Old browsers */
background: -moz-linear-gradient(
  top,
  #efefef 0%,
  #ffffff 24%,
  #ffffff 68%,
  #dddddd 100%
); /* FF3.6+ */
background: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0%, #efefef),
  color-stop(24%, #ffffff),
  color-stop(68%, #ffffff),
  color-stop(100%, #dddddd)
); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(
  top,
  #efefef 0%,
  #ffffff 24%,
  #ffffff 68%,
  #dddddd 100%
); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(
  top,
  #efefef 0%,
  #ffffff 24%,
  #ffffff 68%,
  #dddddd 100%
); /* Opera 11.10+ */
background: -ms-linear-gradient(
  top,
  #efefef 0%,
  #ffffff 24%,
  #ffffff 68%,
  #dddddd 100%
); /* IE10+ */
background: linear-gradient(
  to bottom,
  #efefef 0%,
  #ffffff 24%,
  #ffffff 68%,
  #dddddd 100%
); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef", 
endColorstr="#dddddd", GradientType=0); /* IE6-9 */
}

.medium-fade
{
    background: rgb(229, 229, 229); /* Old browsers */
    background: -moz-linear-gradient(
      top,
      rgba(229, 229, 229, 1) 0%,
      rgba(255, 255, 255, 1) 99%
    ); /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(229, 229, 229, 1)),
      color-stop(99%, rgba(255, 255, 255, 1))
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      top,
      rgba(229, 229, 229, 1) 0%,
      rgba(255, 255, 255, 1) 99%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      top,
      rgba(229, 229, 229, 1) 0%,
      rgba(255, 255, 255, 1) 99%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
      top,
      rgba(229, 229, 229, 1) 0%,
      rgba(255, 255, 255, 1) 99%
    ); /* IE10+ */
    background: linear-gradient(
      to bottom,
      rgba(229, 229, 229, 1) 0%,
      rgba(255, 255, 255, 1) 99%
    ); /* W3C */
}
/* ---- MEDIA ---- */
img, video, audio, iframe, table, form
{
 width: 100%;   max-width: 100%; 
}

table th, table tr td
{
    border: 2px solid black;
    border-collapse: collapse;
    height: 100%;
    text-align: center;
}
table th
{
   font-size: 1.4em;
}

#ff
{
    border: 3px solid black;
    margin: 0 10px;
}

/* ---- DETAILS ---- */
#details
{
    border-top: 2px solid white;
    width: 97%;
}

#details div
{
    height: 221px;
}

#details a:link, #details a:visited
{
    color: black; text-decoration: none;
}

#details a:hover 
{
    color: black; text-decoration: underline;
}
#details a:active
{
color:red;
}

/* ------- LAYOUT -------- */
#flex
{
display: flex; flex-direction: row;
}

.wrapper 
{
    width: 960px;
    margin: 0 auto;
}

.col-1
{
      width: 32%;
}

.col-2
{
     width: 66%;
}

.col-3 {  }

[class*="col-"]{ margin-left: 2%; }

.first { margin-left: 0%;}

/* ---- SECTIONS ---- */
header
{
     width: 100%;
      z-index: 1;
}

section
{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

#social
{
    position: fixed; top: 200px;
    right: 5px; z-index: 1;
    
}

#social a
{
    display: block;
    margin-top: 2px;
    text-align-last: center;
    border-radius: 15px;
    padding-top: 8px; 
    font-size: 45px;
}

#social a:hover
{
    background-color: darkgrey;
}

#social i.fa-twitter
{
    color: blue;
}

#social i.fa-facebook
{
    color: dodgerblue;
}


#social i.fa-google-plus-g
{
    color: red;
}

/* ---- HEADER ---- */
header
{
margin: 0 0 30px;
}

/* ---- NAVBAR ---- */
#navbar
{
    position: fixed;  top: 0;
    left: 0;  width: 100%;
    z-index: 2;
    border-bottom: 2px solid #ccc;
    text-align: center;
}

#navbar nav
{
    border-left: 2px solid #ccc;
}

#navbar nav a 
{
    display: inline-block;
    width: 16%;
    margin: 0;
    padding: 22px 0;
    text-transform: uppercase;
    color: black;
    text-align: center;
    border-right: 1px solid #ccc;
    text-decoration: none;
    font: 1em "Trebuchet MS", Arial, sans-serif;
}

#navbar nav a.selected 
{
    background: #333;
    color: white;
}

#navbar nav a.menu-icon { display: none; }


#navbar nav a:hover
{
    color: white;
    background: rgb(0, 0, 0); /* Old browsers */
background: -moz-linear-gradient(
  top,
  rgba(0, 0, 0, 1) 0%,
  rgba(71, 71, 71, 1) 28%,
  rgba(81, 81, 81, 1) 35%,
  rgba(71, 71, 71, 1) 72%,
  rgba(43, 43, 43, 1) 87%,
  rgba(28, 28, 28, 1) 91%,
  rgba(0, 0, 0, 1) 100%
); /* FF3.6+ */
background: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0%, rgba(0, 0, 0, 1)),
  color-stop(28%, rgba(71, 71, 71, 1)),
  color-stop(35%, rgba(81, 81, 81, 1)),
  color-stop(72%, rgba(71, 71, 71, 1)),
  color-stop(87%, rgba(43, 43, 43, 1)),
  color-stop(91%, rgba(28, 28, 28, 1)),
  color-stop(100%, rgba(0, 0, 0, 1))
); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(
  top,
  rgba(0, 0, 0, 1) 0%,
  rgba(71, 71, 71, 1) 28%,
  rgba(81, 81, 81, 1) 35%,
  rgba(71, 71, 71, 1) 72%,
  rgba(43, 43, 43, 1) 87%,
  rgba(28, 28, 28, 1) 91%,
  rgba(0, 0, 0, 1) 100%
); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(
  top,
  rgba(0, 0, 0, 1) 0%,
  rgba(71, 71, 71, 1) 28%,
  rgba(81, 81, 81, 1) 35%,
  rgba(71, 71, 71, 1) 72%,
  rgba(43, 43, 43, 1) 87%,
  rgba(28, 28, 28, 1) 91%,
  rgba(0, 0, 0, 1) 100%
); /* Opera 11.10+ */
background: -ms-linear-gradient(
  top,
  rgba(0, 0, 0, 1) 0%,
  rgba(71, 71, 71, 1) 28%,
  rgba(81, 81, 81, 1) 35%,
  rgba(71, 71, 71, 1) 72%,
  rgba(43, 43, 43, 1) 87%,
  rgba(28, 28, 28, 1) 91%,
  rgba(0, 0, 0, 1) 100%
); /* IE10+ */
background: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 1) 0%,
  rgba(71, 71, 71, 1) 28%,
  rgba(81, 81, 81, 1) 35%,
  rgba(71, 71, 71, 1) 72%,
  rgba(43, 43, 43, 1) 87%,
  rgba(28, 28, 28, 1) 91%,
  rgba(0, 0, 0, 1) 100%
); /* W3C */
}

/* ---- LOGO ---- */
#logo 
{
    padding: 60px 0 0 ;
}

.fa-earlybirds { visibility: hidden;}


/* ---- FOOTER ---- */
footer
{
    text-align: center;
    font-size: 0.75em;
    padding: 10px;
    border-top: 1px solid #ccc;
    background: #eee;
}

.bottom
{
    position: absolute; width: 100%;
    bottom: 0;
}

/*---- FORM ----*/
form
{
    border: 3px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: 4%;
    padding: 20px;
}

form input
{
    display: block; width: 90%;
    height: 35px; font-size: 1.4em;
}

form textarea
{
    width: 90%; font-size: 1.4em;
    margin-bottom: 20px;
}

form input:hover, form textarea:hover
{
    background-color: lightcyan; color: black;
    outline: 10px blue;
}

form input:focus, form textarea:focus
{
    background-color: lightcyan; color: black;
    outline: 10px blue;
}

form input[type="submit"]
{
    cursor: pointer;
    background-color: lightblue;
    font-size: 1.6em;
    height: 40px;
}





